<h1>Hi {{vm.user}}!</h1>
<!-- <p>You're logged in with JWT!!</p> -->
<h3>All registered cars:</h3>
<div class="container">
    <div class="padding-top-16">
        <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1" ng-click="vm.orderBy('targa'); vm.reverseSort = !vm.reverseSort">
                        targa
                        <span ng-show="vm.orderByField == 'targa'">
                            <span ng-show="!vm.reverseSort">^</span>
                            <span ng-show="vm.reverseSort">v</span>
                        </span>
                    </th>
                    <th class="col-md-1" ng-click="vm.orderBy('tipo'); vm.reverseSort = !vm.reverseSort">
                        tipo
                        <span ng-show="vm.orderByField == 'tipo'">
                            <span ng-show="!vm.reverseSort">^</span>
                            <span ng-show="vm.reverseSort">v</span>
                        </span>
                    </th>
                    <th class="col-md-1" ng-click="vm.orderBy('cilindrata'); vm.reverseSort = !vm.reverseSort">
                        cilindrata
                        <span ng-show="vm.orderByField == 'cilindrata'">
                            <span ng-show="!vm.reverseSort">^</span>
                            <span ng-show="vm.reverseSort">v</span>
                        </span>
                    </th>
                    <th class="col-md-1" ng-click="vm.orderBy('immatricolazione'); vm.reverseSort = !vm.reverseSort">
                        data immatricolazione
                        <span ng-show="vm.orderByField == 'immatricolazione'">
                            <span ng-show="!vm.reverseSort">^</span>
                            <span ng-show="vm.reverseSort">v</span>
                        </span>
                    </th>
                    <th class="col-md-1" ng-click="vm.orderBy('codiceFiscale'); vm.reverseSort = !vm.reverseSort">
                        codice fiscale
                        <span ng-show="vm.orderByField == 'codiceFiscale'">
                            <span ng-show="!vm.reverseSort">^</span>
                            <span ng-show="vm.reverseSort">v</span>
                        </span>
                    </th>
                    <th class="col-md-1"> </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="car in vm.allCars | orderBy:vm.orderByField:vm.reverseSort">
                    <td class="col-md-1"><a ng-click="vm.openCarDetailModal(car)">{{car.targa}}</a></td>
                    <td class="col-md-1">{{car.tipo}}</td>
                    <td>{{car.cilindrata}}</td>
                    <td>{{car.immatricolazione}}</td>
                    <td>{{car.codiceFiscale}}</td>
                    <td><a ng-click="vm.deleteCar(car.targa)" class="btn btn-primary">Delete</a></td>
                </tr>
                </tbody>
            </table>
    
    </div>
    <p>&nbsp;</p>
<p><a ng-click="vm.openAddCarDetailModal()" class="btn btn-primary">Add Car</a></p>    
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>

</div>